@font-face {
  font-family: "Brandon-Bold";
  src: url("../fonts/Brandon/Brandon_bld.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Brandon-light";
  src: url("../fonts/Brandon/Brandon_light.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Brandon_reg";
  src: url("../fonts/Brandon/Brandon_reg.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "cubano-regular";
  src: url("../fonts/Cubano/cubano-regular-webfont.ttf") format("truetype");
  font-style: normal;
}
