.post{
  background: #E3E3E3;
  padding: 50px 0 80px 0;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  .post__box{
    max-width: 370px;
    img{
      zoom: 90%;
    }
    h2{
      padding: 25px 0 10px 0;
      color: $main-color;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.81px;
    }
    h3{
      padding-bottom: 10px;
      color: $main-color;
      font-family: $third-font;
      font-size: 14px;
      font-style: italic;
      line-height: 18px;
    }
    .post-line::before {
      content: '';
      display: block;
      height: 1px;
      background-color: #B7B7B7;
      width: 330px;
    }
    .post__box_icon{
      padding: 10px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        margin: 0 10px;
      }
      p{
        color: #818181;
        font-family: $third-font;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
      }
    }
    .post__box_text {
      padding-top: 20px;
      width: 330px;
      @include main_text;
    }
    button{
      margin: 50px 0;
      width: 135px;
      height: 40px;
      color: $main-color;
      font-family: $main-font;
      font-size: 13px;
      font-weight: 700;
      border: 2px solid $main-color;
      background-repeat: no-repeat;
      background-color: #E3E3E3;
    }
    &:hover button{
      color: #E3E3E3;
      background-color: $main-color;
    }
  }
}
@media screen and (max-width: 575.98px){
  .post{
    .post__box{
      max-width: 300px;
      img{
        zoom: 80%;
      }
      .post-line::before{
        max-width: 300px;
      }
      .post__box_text{
        max-width: 300px;
      }
    }
  }
}