.top{
  background: url("../img/top/Image.png")no-repeat;
  background-size: cover;
  height: 698px;
  .top__carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    padding-top: 200px;
    .sl__slide{

    }
    img{
      max-width: 100%;
      height: auto;
    }
    h3{
      @include main_text;
      color: #fff;
      line-height: 50px;
    }
    h1{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 240px;
      width: 516px;
      height: 109px;
      background: url("../img/top/Line.png")no-repeat;
      @include style_headline;
      color: #fff;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 0.89px;
    }
    .top__carousel_btn{
      margin: 40px 0 0 0 ;
      width: 135px;
      height: 40px;
      color: #fff;
      font-family: $main-font;
      font-size: 13px;
      font-weight: 700;
      border: 2px solid #fff;
      background-repeat: no-repeat;
      background-color: transparent;
    }
    img{
      margin: -8px 0 0 490px;
    }
  }
}
@media screen and (max-width: 1100px){
  .top {
    .top__carousel{
      max-width: 800px;
      h1{
        margin-left: 140px;
      }
      img{
        margin: -8px 0 0 395px;
      }
    }
  }
}
@media screen and (max-width: 900px){
  .top{
    .wrapper{
      .top__burger{
        .main-menu{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          a{
            max-width: 80px;
            max-height: 30px;
            padding: 0;
            line-height: 30px;
          }
        }
      }
    }
    .top__carousel{
      max-width: 600px;
      h1{
        margin-left: 40px;
      }
      img{
        margin: -8px 0 0 295px;
      }
    }
  }
}
@media screen and (max-width: 575.98px){
  .top{
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .top__carousel{
      max-width: 250px;
      img{
        max-width: 100%;
        height: auto;
      }
      h3{
        @include main_text;
        color: #fff;
        line-height: 50px;
      }
      h1{
        margin-left: 0;
        width: 250px;
        font-size: 20px;
      }
      img{
        margin: -8px 0 0 115px;
      }
    }
  }
}