.footer{
  text-align: center;
  min-height: 150px;
  h3{
    padding-top: 20px;
    @include footer_text;
  }
  h4{
    @include footer_text;}
  h5{
    padding-top: 50px;
    @include footer_text;}
}
@media screen and (max-width: 575.98px){
  .footer{
    min-height: 100px;
    h3{
      padding-top: 10px;
    }
    h5{
      padding-top: 30px;
    }
  }
}