#team {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    padding-top: 80px;
    font-family: Brandon Grotesque, sans-serif;
    color: #fff;
    font-size: 56px;
    font-weight: 300;
    line-height: 75px;
    .bold_letters {
      font-weight: 700;
    }
  }
  h5 {
    margin-bottom: 80px;
    color: #777;
    font-family: Brandon Grotesque, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  .team_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .team_list {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text_big{
        color: #d4d4d4;
        font-family: Brandon Grotesque, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
      }
      .text_little{
        color: #ebebeb;
        font-family: Brandon Grotesque, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 300;
      }
      .team_img{
        display: flex;
        margin: 10px 0;
        img {
          margin: 0 5px;
        }
      }
    }
  }
  .down_text {
    margin: 30px 0 60px 0;
    width: 590px;
    text-align: center;
    color: #fff;
    font-family: Brandon Grotesque, sans-serif;
    font-size: 16px;
    font-weight: 300;

  }
}

@media screen and (max-width: 900px){
  #team{
    h2{
      font-size: 40px;
    }
    h5{
      margin-top: -5px;
      font-size: 15px;
    }
    .team_box{
      display: flex;
      flex-direction: column;
      .team_list{
        img{
          zoom: 90%;
        }
        .text_big{
          line-height: 40px;
        }
        .text_little{
          font-size: 14px;
        }
        .team_img{
          padding-bottom: 10px;
        }
      }
    }
    .down_text{
      width: 300px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 575.98px){
  #team{
    h2{
      font-size: 30px;
    }
    h5{
      margin-top: -5px;
      font-size: 15px;
    }
    .team_box{
      display: flex;
      flex-direction: column;
      .team_list{
        img{
          zoom: 80%;
        }
        .text_big{
          line-height: 40px;
        }
        .text_little{
          font-size: 14px;
        }
        .team_img{
          padding-bottom: 10px;
        }
      }
    }
    .down_text{
      width: 300px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}