#subscription
  background: #F4F4F4
  h2
    color: #323232
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    font-weight: 700
  input
    margin-right: 10px
    width: 180px
    height: 30px
    color: #c8cbcf
    font-family: 'Montserrat', sans-serif
    font-size: 10px
    font-weight: 400
    background-color: #fff
    border-radius: 60px
    border: none

  button
    margin-bottom: 20px
    width: 90px
    height: 30px
    color: #fff
    font-family: 'Montserrat', sans-serif
    font-size: 9px
    font-weight: 400
    text-transform: uppercase
    background-color: #8D81AC
    border-radius: 60px
    border: none

/* Screen Sizes 700 px and Up */
@media (min-width: 700px)
  #subscription
    h2
      font-size: 30px
    input
      margin: 30px
      width: 290px
      height: 35px
      font-size: 12px
    button
      width: 130px
      height: 35px
      font-size: 11px

